# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*



# Build outputs
dist/
build/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# IDE files
.vscode/
.idea/

# Uploads
uploads/
